openapi: 3.0.3
info:
  title: KEPEGAWAIAN PATRIOT API
  version: 1.0.0
  description: |
    API untuk aplikasi **Kepegawaian Patriot**.  
    Modul meliputi:
      - Autentikasi (Login)
      - Personalia (Biodata, Berkas, Info Perusahaan, Saran Pegawai)
      - Absensi (Unggah Absen Masuk/Pulang, Riwayat Absen, Cek Absen,Pengajuan Izin/Cuti,Verifikasi Izin/Cuti/Lembur)
      - Pengaturan Akun (Ubah Password)
servers:
  - url: http://localhost/kepegawaian-api
    description: Local development server
  - url: https://patriot.erpsystempdam.com/kepegawaian-api
    description: Production server

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    SaranPegawai:
      type: object
      properties:
        title:
          type: string
          example: "APK error"
        description:
          type: string
          example: "APK ERROR GABISA LOGIN WOI"
    LoginResponse:
      type: object
      properties:
        token:
          type: string
        user:
          type: object
          description: Data pengguna hasil login
    InfoPerusahaan:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        image:
          type: string
          example: "https://patriot.erpsystempdam.com/kepegawaian/uploadsImage/info.jpg"
    PasswordUpdate:
      type: object
      properties:
        old_password:
          type: string
        new_password:
          type: string
        confirm_new_password:
          type: string

paths:
  /mobile/login:
    post:
      tags: [Auth]
      summary: Login User
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                  example: "admin"
                password:
                  type: string
                  example: "12345"
      responses:
        "200":
          description: Login berhasil
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponse"
  /mobile/check-absen:
    post:
      summary: Cek Absen Pegawai
      tags: [Absensi]
      description: |
        Endpoint untuk melakukan cek absen pegawai.

        **Required Params:**
        - `type`: Absen Masuk (1) atau Pulang (0)
        - `location`: Dalam Kantor (1) atau Luar Kantor (0)
        - `latitude`
        - `longitude`

        **Optional Params:**
        - `version`: App version
        - `developer`: Status developer mode
      security:
        - TokenAuth: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                type:
                  type: integer
                  example: 1
                location:
                  type: integer
                  example: 1
                latitude:
                  type: string
                  example: "-6.200000"
                longitude:
                  type: string
                  example: "106.816666"
                version:
                  type: string
                  example: "1.0.0"
                developer:
                  type: string
                  example: "false"
      responses:
        "200":
          description: Absen berhasil dicek

  /mobile/riwayat-absen:
    get:
      summary: Riwayat Absen Pegawai
      tags: [Absensi]
      security:
        - BearerAuth: []
      parameters:
        - name: period
          in: query
          schema:
            type: string
            example: "202511"
      responses:
        "200":
          description: Data riwayat absen berhasil diambil
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        date:
                          type: string
                          example: "03 November 2025"
                        status:
                          type: string
                          nullable: true
                          example: "HDR"
                        inpresent:
                          type: string
                          example: "07:31:43"
                        outpresent:
                          type: string
                          example: "17:55:21"
                        inphoto:
                          type: string
                          example: "http://localhost/kepegawaian-api/public/assets/person-circle-outline.png"
                        outphoto:
                          type: string
                          example: "http://localhost/kepegawaian-api/public/assets/person-circle-outline.png"
                        inmedia:
                          type: string
                          nullable: true
                          example: null
                        outmedia:
                          type: string
                          nullable: true
                          example: null
                        color:
                          type: string
                          example: "219653"
              example:
                data:
                  - date: "03 November 2025"
                    status: null
                    inpresent: "00:00:00"
                    outpresent: "00:00:00"
                    inphoto: "http://localhost/kepegawaian-api/public/assets/person-circle-outline.png"
                    outphoto: "http://localhost/kepegawaian-api/public/assets/person-circle-outline.png"
                    inmedia: null
                    outmedia: null
                    color: "219653"

  /mobile/upload-photo:
    post:
      summary: Upload Foto Absen
      tags: [Absensi]
      security:
        - TokenAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                type:
                  type: string
                  example: "1"
                filename_image:
                  type: string
                  format: binary
                filename_location:
                  type: string
                  format: binary
                filename_letter:
                  type: string
                  format: binary
      responses:
        "200":
          description: Upload foto berhasil

  /mobile/absen-upload:
    post:
      summary: Submit Absen Pegawai
      tags: [Absensi]
      security:
        - TokenAuth: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                filename_face:
                  type: string
                  example: "2025-11-04_wajah_1_masuk_1762236499.jpeg"
                latitude:
                  type: string
                  example: "-6.940672003410164"
                longitude:
                  type: string
                  example: "107.61568141678737"
                type:
                  type: string
                  example: "1"
                location:
                  type: string
                  example: "1"
                device_token:
                  type: string
                  example: "eKakaodkx27nd892jAQN82"
      responses:
        "200":
          description: Absen berhasil disubmit

  /mobile/absen-lembur/upload-photo:
    post:
      summary: Upload Foto Lembur
      tags: [Absensi - Lembur]
      security:
        - TokenAuth: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                type:
                  type: string
                  example: "1"
                filename_image:
                  type: string
                  format: binary
      responses:
        "200":
          description: Upload foto lembur berhasil

  /mobile/absen-lembur/insert:
    post:
      summary: Submit Absen Lembur
      tags: [Absensi - Lembur]
      security:
        - TokenAuth: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                latitude:
                  type: string
                  example: "-6.940672003410164"
                longitude:
                  type: string
                  example: "107.61568141678737"
                type:
                  type: string
                  example: "1"
                location:
                  type: string
                  example: "1"
                filename_face:
                  type: string
                  example: "lembur_2025-11-04_wajah_1_masuk_1762239779.jpeg"
                device_token:
                  type: string
                  example: "Eei723nwd987s9s23bGHS7"
                developer:
                  type: string
                  example: "active"
      responses:
        "200":
          description: Absen lembur berhasil disubmit

  /mobile/absen-lembur/riwayat-lembur:
    get:
      summary: Riwayat Absen Lembur
      tags: [Absensi - Lembur]
      security:
        - TokenAuth: []
      parameters:
        - name: period
          in: query
          schema:
            type: string
            example: "202511"
      responses:
        "200":
          description: Data riwayat lembur berhasil diambil
  /mobile/saran/insert:
    post:
      tags: [Personalia]
      summary: Insert Saran Pegawai
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SaranPegawai"
      responses:
        "200":
          description: Status insert saran

  /mobile/saran/list:
    get:
      tags: [Personalia]
      summary: List Saran Pegawai
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Daftar saran pegawai

  /mobile/biodata:
    get:
      tags: [Personalia]
      summary: Biodata Pegawai
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Data biodata pegawai

  /mobile/berkas:
    get:
      tags: [Personalia]
      summary: Berkas Pegawai
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Daftar berkas pegawai

  /mobile/info-perusahaan:
    get:
      tags: [Personalia]
      summary: Info / Pengumuman Perusahaan
      responses:
        "200":
          description: Data pengumuman
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InfoPerusahaan"

  /mobile/ubah-password:
    post:
      tags: [Pengaturan Akun]
      summary: Ubah Password
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/PasswordUpdate"
      responses:
        "200":
          description: Status perubahan password
